<div class="container">
  <div class="form-title text-center">
    <h2>JOIN THE MILEHIGH CLUB ;)</h2>
  </div>

  <div class="form-container">
    <%= render 'login_form' %>
  </div>
  <%#= render "devise/shared/links" %>
</div>

