<div class="container my-5">
  <div
    class="d-flex justify-content-center"
    id="user-tabs">
    <a
      href=""
      class="nav-link active"
      id="user-profile">
        USER ACCOUNT
    </a>

    <a
      href=""
      class="nav-link"
      id="user-aircrafts">
        USER AIRCRAFTS
    </a>

    <a
      href=""
      class="nav-link"
      id="user-bookings">
        USER BOOKINGS/RENTALS
    </a>
  </div>

  <div id="user-content">
    <!-- USER ACCOUNT INFORMATION ACTIVE BY DEFAULT -->
    <div class="nav-content active" id="user-profile">
      <%= render 'tab_user', user: @user %>
    </div>
    <div class="nav-content hide" id="user-aircrafts">
      <%= render 'tab_aircrafts', user: @user %>
    </div>
    <div class="nav-content hide" id="user-bookings">
      <%= render 'tab_bookrent', user: @user %>
    </div>
  </div>

</div>
