<div class="container my-5">
  <div
    class="d-flex justify-content-center"
    id="user-tabs">
    <a
      href=""
      class="nav-link active"
      id="user-profile">
        ACCOUNT INFORMATION
    </a>

    <a
      href=""
      class="nav-link"
      id="user-aircrafts">
        YOUR AIRCRAFTS
    </a>

    <a
      href=""
      class="nav-link"
      id="user-bookings">
        YOUR BOOKINGS/RENTALS
    </a>
  </div>

  <div class="user-content">
    <div class="nav-content hide" id="user-profile">
      <%= render 'update_info', user: @user %>
    </div>
    <div class="nav-content" id="user-aircrafts">
      <%= render 'user_aircraft', user: @user %>
    </div>
    <div class="nav-content hide" id="user-bookings">
      <%= render 'user_bookings', user: @user %>
    </div>
  </div>

</div>
