<div class="footer-wrapper d-flex flex-column pt-3">
  <div class="footer-content d-flex flex-row justify-content-around">
<!--     <div>
      <h5>heading</h5>
      <ul>
        <li><a href="">skhskljh</a></li>
        <li><a href="">skhskljh</a></li>
        <li><a href="">skhskljh</a></li>
        <li><a href="">skhskljh</a></li>
        <li><a href="">skhskljh</a></li>
      </ul>
    </div>
    <div>
      <h5>heading</h5>
      <ul>
        <li><a href="">skhskljh</a></li>
        <li><a href="">skhskljh</a></li>
        <li><a href="">skhskljh</a></li>
        <li><a href="">skhskljh</a></li>
        <li><a href="">skhskljh</a></li>
      </ul>
    </div>
    <div>
      <h5>heading</h5>
      <ul>
        <li><a href="">skhskljh</a></li>
        <li><a href="">skhskljh</a></li>
        <li><a href="">skhskljh</a></li>
        <li><a href="">skhskljh</a></li>
        <li><a href="">skhskljh</a></li>
      </ul>
    </div>
  </div> -->
  <div class="footer-icons justify-items-center">
    <ul>
<!--       <li>
        <%#= link_to icon('fab', 'facebook-f',
          class: 'fa-lg'),
          '#' %>
      </li>
      <li>
        <%#= link_to icon('fab', 'instagram',
          class: 'fa-lg'),
            '#' %>
      </li>
      <li>
        <%#= link_to icon('fab', 'twitter',
          class: 'fa-lg'),
            '#' %>
      </li> -->
      <li>
        <%= link_to icon('fab', 'github',
          class: 'fa-lg'),
            'https://github.com/sydneybroccoli/the-milehigh-club' %>
      </li>
    </ul>
  </div>
</div>
