<div class="container form">
  <h2 class='text-center'>LOGIN</h2>
  <%= render 'login_form' %>
  <br><br>
  <div class="container links">
    <%= link_to "NOT ALREADY A MEMBER?",
    new_registration_path(resource_name) %>
  </div>
</div>

