.button {
  // border-radius: 10px;
  color:white;
  font-weight: bold;
  background-color:$leather;
  padding: 10px 20px;
  margin-right: 20px;
  text-decoration:none;
  transition:0.2s;
  letter-spacing: 1.2px;
  &:hover {
    text-decoration:none;
    color:black;
    background-color:white;
  }
}

.login-navbar {
  margin:0px 16px;
  color: #0062CC;
  border-color: #0062CC;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 2px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:hover {
    text-decoration:none;
    color:black;
    // background-color: #0062CC;
    opacity: 0.5;
  }
}

.search-navbar {
  margin:0px 16px;
  color: #1EDD88;
  border-color: #1EDD88;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 2px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:hover {
    text-decoration:none;
    color:black;
    background-color: #1EDD88;
  }
}

.nav-custom{
  border-style: none;
  background-color: #F4F4F4;
  border-radius: 4px;
  color:#6b6b6b;
  padding: 10px 20px;
  margin-right: 20px;
  text-decoration: none;
  transition: 0.1s;
  letter-spacing: 1.2px;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
  &:hover {
    text-decoration:none;
    background-color: #AB987A;
  }
}

.grey {
  color:#6b6b6b;
  &:hover {
    color:white;
  }
}

.white {
  background-color: #FFFFFF;
}

.banner-btn {
  color:white;
  background-color:#AB987A;
  font-weight:bold;
  text-decoration:none;
  &:hover {
    color:black;
    background-color:white;
  }
}
