.card-trip {
  margin-top:24px;
  border-radius: 5px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color:black;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.no-deco {
  text-decoration:none;
  &:hover {
    text-decoration:none;
  }
}

.card-product {
  border-radius: 5px;
  overflow: hidden;
  min-height:240px;
  height: 100%;
  margin-top:16px;
  margin-bottom:16px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items:start;
}

.card-product img {
  height: 100%;
  width: 33%;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 24px 32px;
  width:100%;
}

.card-top-info {
  display:flex;
  width:100%;
  justify-content:space-between;
}

.expanding {
  min-height: 500px;
  max-height:100%;
}

.height {
  height:250px;
}

.height img {
  height:100%;
}

.flex-one {
  flex:1;
}
