.main-content {
  position: relative;
  min-height: 100vh;
}

.featured-wrapper {
  margin-top: 24px;
  background-size:cover;
  background-position:center;
  height:300px;
  border-radius: 10px;
  padding:24px;
}

.date-form {
  border-radius:10px;
  width:400px;
}

.carousel-wrapper {
  margin-top:24px;
  width:100%;
  height:200px;
}

.aircraft-details {
  display:flex;
  width:60%;
  min-height:100%;
}

.details-date-form {
  border-radius: 10px;
  padding:24px;
  margin-top:24px;
  display:flex;
  justify-content:space-between;
  margin-top:24px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.aircraft-form-row {
  display:flex;
}

.shadow-box {
  border-radius: 10px;
  padding:24px;
  margin-top:24px;
  margin-top:24px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.photos {
  display:flex;
  margin-top:24px;
  border-radius:10px;
}
